@font-face {
  font-family: "iconfont"; /* Project id 2444563 */
  src: url('iconfont.woff2?t=1620265603199') format('woff2'),
       url('iconfont.woff?t=1620265603199') format('woff'),
       url('iconfont.ttf?t=1620265603199') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconaixin:before {
  content: "\e640";
}

.iconyduixingxingkongxin:before {
  content: "\e6a4";
}

.iconyduixingxingshixin:before {
  content: "\e6a5";
}

.iconaixinxian:before {
  content: "\e602";
}

.iconguanbicircle:before {
  content: "\e60e";
}

.iconiconloadingspinner:before {
  content: "\e65b";
}

.iconsousuo:before {
  content: "\e649";
}

.iconshangdian:before {
  content: "\e600";
}

.icondingwei:before {
  content: "\e634";
}

.iconloading2:before {
  content: "\ecad";
}

.iconloading1:before {
  content: "\e633";
}

.iconrenyuanxiaozu:before {
  content: "\e691";
}

.iconloading:before {
  content: "\e61d";
}

.iconguanbi:before {
  content: "\e7e8";
}

.iconcha:before {
  content: "\e615";
}

.icon-up:before {
  content: "\e624";
}

.iconquan:before {
  content: "\e741";
}

.icon-left:before {
  content: "\e632";
}

.iconpoint:before {
  content: "\e60f";
}

.iconhuo:before {
  content: "\e78a";
}

.icon-down:before {
  content: "\e791";
}

.iconjian:before {
  content: "\e60d";
}

.iconjia:before {
  content: "\e611";
}

.icongou:before {
  content: "\e662";
}

.icon-right:before {
  content: "\e608";
}

.icongouwuche:before {
  content: "\e655";
}

.iconqipao:before {
  content: "\e60c";
}

