$theme-color: #409eff;
$primary-color: #1989fa;
$success-color: #07c160;
$warning-color: #ee0a24;
$danger-color: #ff976a;
$font-color: #323233;
$value-color: #969799;
$icon-default-color: #c8c9cc;
$border-color: #ebedf0;
$white-color: #ffffff;
$black-color: #000000;
